@import "tailwindcss";

@layer base {
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box,
    }    
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}